:root {
  --primaryColor: #1372d8;
  --lineColor: #f7f7f7;
  --bgColor: #f2f2f2;
  --borderColor: #dadada;
  --fontColorB5: #b5b5b5;
  --fontColor58: #58b9fa;
  --fontColor33: #333;
  --fontColor66: #666;
  --fontColor99: #999;
  --fontColor80: #808080;
  --fontRedColor: #ff7271;
  --fontWhiteColor: #fff;
  --backgroundColor: #1372d8;
  --fontWarnColor: #e0201f;
  --fontColorF4: #f44f4e;
  --backgroundColor: #1e7ede;
  --titleColor: #135acf;
  --fontColorA5: #a5a5a5;
  --colorCC: #ccc;
  --subGoodScoreColor: #dcf2fe;
  --riskScoreColor: #ffd1d1;
  --buleBGColor: #084484;
  --buleBGColorD: #073d73;
  --redBorder: #ff6361;
  --vipColor: #c9945a;
  --payColor: #c9945a;
  --goodColor: #83d925;
  --buttonBorderColor: #49241c;
}
