.am-tab-bar-bar .am-tab-bar-tab-image {
  margin-top: 20px;
}

.am-tab-bar-bar .am-tab-bar-tab-title {
  font-size: 22px;
}

.am-list-item .am-list-line .am-list-content {
  white-space: normal;
  color: #666;
}

.am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio {
  height: 100%;
}

.am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
  right: 0.5vw;
  top: 2vh;
}

.am-list-item .am-list-line .am-list-extra {
  padding-top: 0;
  padding-bottom: 0;
}

.am-table th {
  background-color: #f2f2f2;
}

.am-table-horizonTitle {
  background-color: #fff;
}

.am-modal-close {
  position: absolute;
  left: auto;
  right: 10px;
  top: 10px;
}

.am-list .am-list-item .am-input-control input {
  text-align: right;
  color: #1372d8;
}

.am-list-item .am-list-line .am-list-extra {
  /*color: #1372d8;*/
}

.am-image-picker .am-image-picker-list {
  margin-bottom: 0;
  padding-bottom: 0.08rem;
}

/*.am-checkbox-inner {
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 0;
  background: #f7f7f7;
  border: 1px solid #dadada;
}

.am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
  left: 0.3rem;
  top: 0.3rem;
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border: 1px solid #1372d8;
  background: #1372d8;
}

.am-checkbox-inner: after {
  position: absolute;
  display: none;
  top: 0.02rem;
  right: 0.08rem;
  z-index: 999;
  width: 0.13rem;
  height: 0.18rem;
  border-style: solid;
  border-width: 0 0.04rem 0.04rem 0;
  content: ' ';
  transform: rotate(45deg);
}

:global .am-checkbox.am-checkbox-checked .am-checkbox-inner: after {
  display: block;
  border-color: #fff;
}*/

.am-list-item .am-list-line .am-list-extra {
  color: #1372d8;
}

.am-list .am-list-item .am-input-control input::-webkit-input-placeholder {
  color: #b5b5b5;
  line-height: 1.4em;
}

.am-list .am-list-item .am-input-label.am-input-label-4 {
  width: auto;
}

.am-tabs-bar .am-tabs-tab {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-bottom: 1PX solid #ddd;
  font-size: 0.3rem;
  height: 0.84rem;
  line-height: 0.84rem;
  color: #666;
  background-color: #fff;
}

.am-tabs-bar .am-tabs-tab-active {
  color: #1372d8;
}

.Cal__Weekdays__day {
  font-size: 2em;
}

.Cal__Day__month {
  font-size: 1em;
}

.Cal__Day__root {
  font-size: 2.4em;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__day {
  font-size: 1em;
}

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__month {
  font-size: 0.5em;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  width: 0.8rem;
  height: 0.8rem;
  background-color: green;
  font-size: 1em;
}

.Cal__Day__root .Cal__Day__enabled {
  background-color: white;
}

.Cal__Day__enabled {
  background-color: white;
}

.Cal__Day__disabled {
  background-color: #DDDDDD;
}

.Cal__Day__root.Cal__Day__today {
  color: #1372d8;
}

.Cal__Day__root Cal__Day__today Cal__Day__disabled {
  color: #1372d8;
}

.Cal__Day__root .Cal__Day__today .Cal__Day__disabled {
  color: #1372d8;
}

.Cal__Day__root .Cal__Day__disabled {
  background-color: #DDDDDD;
}

.Cal__Month__row  .Cal__Day__disabled {
  background-color: #DDDDDD;
}

.am-search {
  height: 15vw;
  background-color: #dadada;
}

.am-search-input {
  height: 8vw;
  display: flex;
  align-items: center;
}

.am-search .am-search-cancel {
  color: #1372d8;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am-search-input input[type="search"] {
  font-size: 4vw;
  height: 8vw;
}

.am-search-input .am-search-synthetic-ph-placeholder {
  font-size: 90%;
  line-height: 2em;
}

.am-search-synthetic-ph {
  z-index: 1 !important;
  font-size: 4vw;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
