@import './_palette.css';

.bashBanner {
  position: relative;
  width: 100vw;
  height: 53vw;
  margin: 0 auto;
}

.leftTopText {
  width: 90vw;
  margin: 0 auto;
  color: #fff;
  font-size: 3.5vw;
}

.rightBottom {
  position: absolute;
  right: 5vw;
  bottom: 3vw;
  width: 10vw;
  text-align: center;
  font-size: 4vw;
  cursor: pointer;
}

.timeContainer {
  width: 100vw;
  background-color: #fff;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.timeDiv {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address {
  width: 12vw;
  height:12vw;
  display: flex;
  font-size: 0.3rem;
  align-items: center;
  justify-content: center;
  background: #FFC236;
  border-radius: 50%;
}

.time {
  width: 75vw;
}

.deadline {
  color: #444;
  font-size: 4.3vw;
}

.activityTime {
  color: #999;
  font-size: 3.3vw;
  margin-top: 1.5vw;
}

{/* 二维码样式 */}
.qrcodeContent {
  padding: 6vh 0;
}

.qrcodeText {
  text-align: center;
  margin-bottom: 5vh;
  color: #5e636d;
  font-size: 4vw;
}

.qrcodeImg {
  width: 35vw;
  margin: 0 auto;
}

.contentOne {
  width: 76vw;
  padding: 12vw;
}

.contentOneTitle1 {
  text-align: center;
  font-size: 4vw;
  color:  #838383;
  padding: 0 0 2vh;
  border-bottom: 2px solid #ccc;
}

.contentOneTitle2 {
  font-size: 2vw;
  color:  #838383;
  padding: 2vh 2vw 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.contentThree {
  background-color: #2B2B2B;
  color: #fff;
  padding: 4vh 5vw;
  font-size: 3.5vw;
  margin-top: -1vh;
}

.contentThreeTitle {
  display: flex;
  justify-content: center;
  font-size: 4.5vw;
  margin-bottom: 2vh;
  color: var(--primaryColor);
}

.contentThreeImg {
  width: 4.3vw;
  margin-right: 1vw;
}

.contentThreeInfo {
  line-height: 4vh;
}

.contentTwo {
  background-color: #373737;
  color: #fff;
  padding: 4vh 6vw;
  font-size: 3.5vw;
}

.contentTwoImg {
  width: 4.7vw;
  margin-right: 1vw;
}

.contentTwoImg1 {
  width: 4.5vw;
  margin-right: 2vw;
}

.contentTwoTitle {
  display: flex;
  align-items: center;
  font-size: 3.5vw;
  margin-bottom: 1vh;
}

.messageList {
  /*width: 80vw;*/
  display: flex;
  margin: 2vh 0;
}

.messageLeftDiv {
  width: 4.5vw;
  border-left: 4px solid var(--primaryColor);
  margin-left: 2vw;
}

.messageRightDiv {
  margin-bottom: 1vh;
  width: 80vw;
}

{/* 报名按钮样式 */}
.SignUpButton {
  height: 8vh;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.buttonText {
  margin-top: 2.5vh;
  font-size: 4vw;
}

.buttonIsOk {
  width:70vw;
  height:0px;
  border-left:4vh solid transparent;  /* left arrow slant */
  border-right:0vh solid transparent; /* right arrow slant */
  border-bottom:8vh solid var(--primaryColor); /* bottom, add background color here */
  text-align: center;
}

.buttonIsNo {
  width:70vw;
  height:0px;
  border-left:4vh solid transparent;  /* left arrow slant */
  border-right:0vh solid transparent; /* right arrow slant */
  border-bottom:8vh solid #ddd; /* bottom, add background color here */
  text-align: center;
}

.returnButton {
  width: 30vw;
  margin: 0 auto;
}

:global(pre) {
  margin: 0 !important;
}
