@import './_palette.css';

.originatorContent {
  background-color: #fff;
}

.dashNum {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #838383;
  font-size: 3.8vw;
}

.originatorInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2vh 0;
  border-radius: 0.2rem;
  background-color: #EFEFEF;
  font-size: 3.2vw;
  color: #838383;
  padding: 3vh 4vw 3vh 5vw;
}

.originator ul{
  padding: 0;
  margin: 0;
} 

.originator ul li{
  list-style-type:none;
  margin: 1vh 0;
}  

.originatorName {
  font-size: 4.5vw;
  color: #000;
  margin-bottom: 2vh;
}

.originatorImg {
  width: 18vw;
  height: 18vw;
  border-radius: 18vw;
}


{/* 报名人数样式 */}

.wechatImgText {
  width: 20vw;
  text-align: center;
  margin: 2vh auto;
  background-color: var(--primaryColor);
  font-size: 3.2vw;
  border-radius: 10px;
  padding: 1vh;
}

.wechatImgList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wechatImg {
  width: 10vw;
  height: 15vw;
  margin: 0 2vw;
}

.wechatImgItem {
  width: 10vw;
  height: 10vw;
  border-radius: 10vw;
  filter: blur(3px);    
}

.wechatImgItemShow {
  width: 10vw;
  height: 10vw;
  border-radius: 10vw;
}

.wechatImgName {
  font-size: 3vw;
  color: #838383;
}
