@import './_palette.css';

.bg {
  background: var(--bgColor);
  height: calc(100vh - 14vw);
  width: 100vw;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.status {
  position: absolute;
  bottom: 3vw;
  right: 5vw;
  font-size: 3.5vw;
}

:global(.am-list-body) {
  margin-top: 0 !important;
}
:global(.am-activity-indicator-spinner-lg) {
  width: 120px !important;
  height: 120px !important;
}

.modulesTitle {
  width: 90vw;
  margin: 0 auto;
  color: #666;
  font-size: 3.8vw;
}

.tagsBg {
  width: 100vw;
  background-color: #ffffff;
  padding-bottom: 10vw;
}

.tags {
  width: 94vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: #000;
  background-color: var(--primaryColor);
  font-size: 3.7vw;
  padding: 1.2vw 4vw;
  border-radius: 0.25rem;
  margin: 2vw 3vw;
  display: flex;
  align-items: center;
}

.addTags {
  width: 90vw;
  background-color: #f3f3f3;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vw;
}

.changeTags {
  font-size: 3.7vw;
  width: 94vw;
  padding-right: 4vw;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2vw;
}

.editBar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primaryColor);
  width: 100vw;
  display: flex;
  border-top: 1px solid #ddd;
  font-size: 4.5vw;
}

.returnArrow {
  width: 26vw;
  height: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.triangle {
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 14vw solid #fff;
  border-right: 3vw solid transparent;
}

.buttonDiv {
  width: 75vw;
  height: 14vw;
  color: #000;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5vw;
  font-weight: bold;
}

.inputDiv {
  width: 80vw;
  margin: 0 auto;
  height: 10vw;
  background-color: #F3F3F3;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.5vw;
}

.item {
  width: 35vw;
  text-align: center;
  font-size: 3.6vw;
}

.itemBorder {
  border: 1px solid #c7c7c7;
  height: 4.5vw;
}

.itemForm {
  width: 45vw;
}

.code {
  width: 20vw;
}

.sendCode {
  width: 20vw;
  height: 6vw;
  background: #ffce3d;
  text-align: center;
  color: #000;
  border-radius: 8px;
  font-size: 3.2vw;
  line-height: 6.4vw;
  margin-right: 5vw;
}

.itemForm input {
  background-color: #F3F3F3;
  border: 0px solid #F3F3F3;
  width: 40vw;
  padding-right: 3vw;
  text-align: right;
  color: #888;
  font-size: 3.8vw;
  line-height: 3.8vw;
}

.code input {
  background-color: #F3F3F3;
  border: 0px solid #F3F3F3;
  width: 22vw;
  padding-left: 3vw;
  text-align: left;
  color: #888;
  font-size: 3.8vw;
  line-height: 3.8vw;
}

.uploadPic {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  background-repeat: no-repeat;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67vw;
  height: 67vw;
  background: #f3f3f3;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
}

.uploadButton img {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}
.uploadButton input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  color: rgba(255, 255, 255, 0);
}

.uploadButton2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 33vw;
  background: #f3f3f3;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
}

.uploadButton2 img {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}
.uploadButton2 input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  color: rgba(255, 255, 255, 0);
}

.dashTabbar {
  height: 14vw;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-top: 1px solid #c5c5c5;
  font-size: 4vw;
}

.tab {
  width: calc(50vw - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vw;
  color: #c5c5c5;
}

.tab img {
  width: 4vw;
}

.tabBarBorder {
  height: 4vw;
  border: 1px solid #c5c5c5;
}

.vote {
  width: 12vw;
  display: inline-block;
  height: 5vw;
  border-radius: 8px;
  border: 1px solid #ffce3d;
  color: #ffce3d;
  text-align: center;
  cursor: pointer;
}

.members {
  width: 100%;
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
  justify-content: space-around;
}

.member {
  border: 1px solid #ffce3d;
  border-radius: 8px;
  position: relative;
  max-width: 30%;
}

.wxPortrait {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 8px;
}

.like {
  position: absolute;
  top: 0px;
  left: 0px;
}

.wxName {
  font-size: 3.5vw;
  color: #000;
  text-align: center;
}

:global(.am-list-item .am-list-line .am-list-extra) {
  flex-basis: auto!important;
  font-size: 3.8vw!important;
}
:global(.am-accordion .am-accordion-item .am-accordion-header) {
  height: 12vw!important;
  line-height: 12vw!important;
  font-size: 3.7vw!important;
}
:global(.am-accordion .am-accordion-item .am-accordion-header i) {
  top: 4.5vw!important;
}

:global(.am-list-item .am-list-line .am-list-arrow) {
  width: 50px!important;
  height: 50px!important;
}

:global(.am-accordion .am-accordion-item .am-accordion-header i) {
  width: 35px!important;
  height: 35px!important;
}

.avator {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.creditCount {
  background-color: #fff;
  height: 12vw;
  margin-top: 2vw;
  padding-left: 30px;
  padding-right: 60px;
  font-size: 3.7vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 10vw;
}
.panelHeader {
  display: flex;
  align-items: center;
}
.panelHeader img {
  width: 4.5vw;
}
