@import './_palette.css';

.bg {
  background: var(--bgColor);
  height: calc(100vh - 14vw);
  width: 100vw;
  overflow: scroll;
}

.status {
  position: absolute;
  bottom: 3vw;
  right: 5vw;
  font-size: 3.5vw;
}

:global(.am-list-body) {
  margin-top: 0 !important;
}

.modulesTitle {
  width: 90vw;
  margin: 0 auto;
  color: #666;
  font-size: 3.8vw;
}

.tagsBg {
  width: 100vw;
  background-color: #ffffff;
  padding-bottm: 10vw;
}

.tags {
  width: 94vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: #000;
  background-color: var(--primaryColor);
  font-size: 3.7vw;
  padding: 1.2vw 4vw;
  border-radius: 0.25rem;
  margin: 2vw 3vw;
  display: flex;
  align-items: center;
}

.addTags {
  width: 90vw;
  background-color: #f3f3f3;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vw;
}

.changeTags {
  font-size: 3.7vw;
  width: 94vw;
  padding-right: 4vw;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2vw;
}

.editBar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primaryColor);
  width: 100vw;
  display: flex;
  border-top: 1px solid #ddd;
  font-size: 4.5vw;
}

.returnArrow {
  width: 26vw;
  height: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.triangle {
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 14vw solid #fff;
  border-right: 3vw solid transparent;
}

.buttonDiv {
  width: 75vw;
  height: 14vw;
  color: #000;
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputDiv {
  width: 80vw;
  margin: 0 auto;
  height: 10vw;
  background-color: #F3F3F3;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.5vw;
}

.item {
  width: 30vw;
  text-align: center;
  color: #888;
  font-size: 3.8vw;
}

.itemBorder {
  border: 1px solid #c7c7c7;
  height: 4.5vw;
}

.itemForm {
  width: 55vw;
}

.code {
  width: 28vw;
}

.sendCode {
  width: 22vw;
  height: 6vw;
  background: #ffce3d;
  text-align: center;
  color: #000;
  border-radius: 8px;
  font-size: 3.5vw;
  line-height: 6vw;
  margin-right: 5vw;
}

.itemForm input {
  background-color: #F3F3F3;
  border: 1px solid #F3F3F3;
  width: 50vw;
  padding-right: 10px;
  text-align: right;
  color: #888;
}

.code input {
  background-color: #F3F3F3;
  border: 1px solid #F3F3F3;
  width: 25vw;
  padding-left: 10px;
  text-align: left;
  color: #888;
}
/*:global(.am-list-extra) {
  width: 30vw!important;
}*/

.uploadPic {
  width: 90vw;
  margin: 0 auto;
  overflow-x: hidden;
}

.dashTabbar {
  height: 14vw;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.tab {
  width: calc(50vw - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vw;
  color: #c5c5c5;
}

.tabBarBorder {
  height: 4vw;
  border: 1px solid #c5c5c5;
}

.vote {
  width: 12vw;
  display: inline-block;
  height: 5vw;
  border-radius: 8px;
  border: 1px solid #ffce3d;
  color: #ffce3d;
  text-align: center;
  cursor: pointer;
}

.members {
  width: 100%;
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
  justify-content: space-around;
}

.member {
  width: 30%;
  border: 1px solid #ffce3d;
  border-radius: 8px;
  position: relative;
}

.wxPortrait {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 8px;
}

.like {
  position: absolute;
  top: 0px;
  left: 0px;
}

.wxName {
  font-size: 3.5vw;
  color: #000;
}

:global(.am-list-item .am-list-line .am-list-extra) {
  flex-basis: auto!important;
}
