@import './_palette.css';

.payTitle {
  height: 27vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashNum {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5vh 5vw;
  border-radius: 0.1rem;
  color: #838383;
  font-size: 3.5vw;
  background-color: #EEEEEE;
}

.dashBoy {
  margin-right: 10vw;
}

.payText {
  font-size: 4vw;
  color: #575757;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.payNum {
  color: #FF4C4D;
}

.payNum > span {
  font-size: 6vw;
}

.payContent {
  background-color: #fff;
  margin-top: 2vh;
  padding: 2vh;
}

.dashHeader {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.payImg {
  width: 20vw;
  height: 20vw;
  border-radius: 0.1rem;
  margin-right: 3vw;
}

.money {
  color: #FF4C4D;
  margin-bottom: 1vh;
  font-size: 5vw;
}

.dashTitle {
  color: #575757;
  font-size: 4vw;
}

.smallDashTitle {
  color: #ccc;
  margin-top: 1vh;
  font-size: 3.5vw;
}

.selectType {
  height: 9vh;
  background-color: #fff;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw 0 5vw;
}

.payButton {
  width: 60vw;
  text-align: center;
  line-height: 6vh;
  margin-left: 20vw;
  margin-top: 5vh;
  font-size: 4.5vw;
  border-radius: 0.1rem;
  padding: 1vh 0;
  background-color: var(--primaryColor);
}

.payButton:active
{ 
   background-color: #ffda68;
}
.wechatPay {
  display: flex;
  align-items: center;
  font-size: 4vw;
  color: #838383;
}

.wechatPayImg {
  width: 6.5vw;
  margin-right: 2vw;
}

.noPayButton {
  width: 60vw;
  text-align: center;
  line-height: 6vh;
  margin-left: 20vw;
  margin-top: 5vh;
  font-size: 4.5vw;
  border-radius: 0.1rem;
  padding: 1vh 0;
  background-color: #ddd;
}
